<div id="<%= dom_id appointment %>">

  <table class="table table-dark table-striped">


  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= appointment.condition %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= appointment.details %>
  </p>

</div>
</table>